{{ define "main" }}

<article>
    <header>
        <h1>{{ partial "mana-symbol" .Params.colors }} {{ .Title }}</h1>
    </header>
    {{ .Content }}

    <blockquote class="deck-container">
        <pre class="decklist">
{{- with .Params.commander -}}
# Commander
{{.}}

{{ end -}}
# Deck Contents
{{ range .Params.cards -}}
{{.}}
{{ end -}}
       </pre>
    </blockquote>
    {{- with .Params.basics }}
    <hr>
    <h2>Basic Land Art</h2>
    <p style="text-align: center">
        {{ range . }}
        <span class="card-display" data-scryfall-id="{{ . }}"></span>
        {{ end }}
    </p>
    {{ end -}}
</article>

{{ end }}