.mtg-card-tooltip img {
    max-height: 20em;
}

.mana-cost {
    white-space: nowrap;
}

.mtg-card-link, span.card {
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

.deck-container {
    margin-top: 3em;
}

.mtg-card-display img {
    max-width: 30%;
}

.mtg-decklist {
    position: relative;
    min-height: 307px;
}

.mtg-decklist .mtg-card-preview {
    position: absolute;
    right: 0em;
}

@media (max-width: 440px) {
    .mtg-decklist .mtg-card-preview {
        display: none;
    }
}

.mtg-decklist .mtg-card-preview img {
    margin: 0;
    width: 220px;
}

.mtg-decklist .mtg-decklist-contents h2 {
    font-size: 1em;
    margin-bottom: 0.25em;
}

.mtg-decklist .mtg-decklist-contents ul {
    list-style: none;
    padding-left: 0;
    margin: 0 0 1em 0;
}

.mtg-decklist .mtg-decklist-contents li {
    margin: 0;
}

.mtg-decklist .mtg-card-quantity {
    font-weight: bold;
}

.deck-listing {
    box-shadow: none;
}

.deck-listing tr, .deck-listing tr td {
    background: none !important;
    box-shadow: none;
}

.deck-listing tr td {
    padding: 0.5em 0;
}

.deck-id {
    text-align: center;
    vertical-align: middle;
    font-size: 0.7em;
}

.deck-colors {
    text-align: center;
}

.deck-status {
    text-align: right;
    font-size: 0.6em;
}

.status-label {
    text-transform: uppercase;
    padding: 0.25em 1em;
    border-radius: 10px;
}

.single-status .status-label {
    margin-left: 0em;
    font-size: 0.6em;
    position: relative;
    top: -0.25em;
}

.status-idea {
    background-color: rgba(0, 0, 0, 0.5);
}

.status-up-next {
    background-color: rgba(58, 110, 252, 0.75);
}

.status-done {
    background-color: rgba(69, 175, 69, 0.75);
}

.no-break {
    white-space: nowrap;
}

.deck-comp-chart .deck-comp-row {
    display: flex;
}

.deck-comp-chart .deck-comp-row .deck-comp-element {
    overflow-x: hidden;
    white-space: nowrap;
    text-align: center;
    color: white;
    padding: 0.25em 0;
}

.deck-comp-chart .deck-comp-row .width-1-42 {
    width: 2.38%;
}

.deck-comp-chart .deck-comp-row .width-2-42 {
    width: 4.76%;
}

.deck-comp-chart .deck-comp-row .width-3-42 {
    width: 7.14%;
}

.deck-comp-chart .deck-comp-row .width-5-42 {
    width: 11.90%;
}

.deck-comp-chart .deck-comp-row .width-14-42 {
    width: 33.33%;
}

.deck-comp-chart .deck-comp-row .width-15-42 {
    width: 35.71%;
}

.deck-comp-chart .deck-comp-row .width-27-42 {
    width: 64.28%;
}

.deck-comp-chart .deck-comp-row .width-42-42 {
    width: 100%;
}

.deck-comp-chart .deck-comp-row .bg-dk-gray {
    background-color: rgb(96, 96, 96);
}

.deck-comp-chart .deck-comp-row .bg-gold {
    background-color: rgb(187, 121, 0);
}

.deck-comp-chart .deck-comp-row .bg-lt-gray {
    background-color: rgb(128, 128, 128);
}

.deck-comp-chart .deck-comp-row .bg-brown {
    background-color: rgb(150, 80, 0);
}

.deck-comp-chart .deck-comp-row .bg-purple {
    background-color: rgb(136, 56, 228);
}

.deck-comp-chart .deck-comp-row .bg-red {
    background-color: rgb(194, 49, 49);
}

.deck-comp-chart .deck-comp-row .bg-green {
    background-color: rgb(56, 163, 56);
}

.deck-comp-chart .deck-comp-row .bg-blue {
    background-color: rgb(47, 60, 180);
}